@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap");

:root {
  --dark-bg-color: #171717;
  --light-text-color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
  font-family: "Titillium Web", sans-serif;
}
h1,
h2,
h3,
p {
  font-family: "Titillium Web", sans-serif;
}

#root {
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 50;
  background-image: url("../public/assets/images/nav_bar.png"); /* Replace with your image path */
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents image from repeating */
  width: 100%;
}
