@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap");

:root {
  --dark-bg-color: #171717;
  --light-text-color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
  font-family: "Titillium Web", sans-serif;
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
}
h1,
h2,
h3,
p {
  font-family: "Titillium Web", sans-serif;
}

/* This is for navbar sticky when we scroll  */
.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 50;
  background-image: url("/assets/images/nav_bar.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
